{% extends 'admin/base.html' %}
{% load native %}

{% block title %}LogJam Admin{% endblock %}
{% block branding %}
<h1 id="site-name">LogJam Admin</h1>
{% endblock %}

{% block extrahead %}
<link type="text/css" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#accordion").accordion();
                $(".tabs").tabs();
                $("#from").datepicker();
                $("#to").datepicker();
	});
</script>
			
<style>{% highlight_style style=friendly %}</style>
{% endblock %}

{% block content %}
<div id="Pagination" class="pagination">
<form>
<p><b>Filter Date</b>: from <input id="from" name="from"> to <input id="to" type="text" name="to">
<input type="submit" value="Filter"/></p>
</form>

<div id="accordion">
{% for e in errors %}
    <h3><a href="#">{{ e.method }} {{ e.path }} - {% last_line e.exception %}</a></h3>
    <div class="tabs" style="height: 300px; overflow: auto;">
	<ul>
            <li><a href="#err{{ forloop.counter }}-info">Info</a></li>
            <li><a href="#err{{ forloop.counter }}-exc">Exception</a></li>
            <li><a href="#err{{ forloop.counter }}-req">Request</a></li>
	</ul>
        <div id="err{{ forloop.counter }}-info">
            <table>
                <tr><th>ID</th><td>{{ e.id }}</td></tr>                
                <tr><th>Reported</th><td>{{ e.timestamp|date }} {{ e.timestamp|time }}</td></tr>                
                <tr><th>Client</th><td>{{ e.META.REMOTE_ADDR }} - {{ e.META.HTTP_USER_AGENT }}</td></tr>
                <tr><th>Host</th><td>{{ e.host }}</td></tr>
                <tr><th>Method</th><td>{{ e.method }}</td></tr>
                <tr><th>Path</th><td>{{ e.path }}</td></tr>
                <tr><th>Exception</th><td>{% last_line e.exception %}</td></tr>
            </table>
        </div>
        <div id="err{{ forloop.counter }}-exc">
            {% highlight e.exception python %}
        </div>
        <div id="err{{ forloop.counter }}-req">
	    <h4>{{ e.method }} {{ e.path }}</h4>
	    <h4>{{ e.META.REMOTE_ADDR }} {{ e.META.HTTP_USER_AGENT }}</h4>
            <table>
                {% if e.GET %}<tr><th>GET</th><td><pre>{{ e.GET|pprint }}</pre>{% endif %}
                {% if e.POST %}<tr><th>POST</th><td><pre>{{ e.POST|pprint }}</pre></td>{% endif %}
                {% if e.COOKIES %}<tr><th>COOKIES</th><td><pre>{{ e.COOKIES|pprint }}</pre></td>{% endif %}
                {% if e.FILES %}<tr><th>FILES</th><td><pre>{{ e.FILES|pprint }}</pre></td>{% endif %}
                <tr><th>META</th><td><pre>{{ e.META|pprint }}</pre></td>
            </table>
        </div>
    </div>
{% endfor %}
</div>
     
{% endblock %}

